<h1>Welcome to Multiplication Helper!</h1>

<% if flash[:messages] %>
  <% flash[:messages].each do |message| %>
    <div class="alert alert-warning">
      <%= message %>
    </div>
  <% end %>
<% end %>