/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: lightblue;
$main-text-color: darken(red, 30%);
$well-text-color: darken($primary-color, 60%);

body {
  background: lighten($primary-color, 10%);
  color: $main-text-color;
  
  margin-top: 30px;
  
  h1, h2 {
    font-size: 3em;
  }
  
  h3 {
    font-size: 2em;
  }
}

.stat-well {
  margin-top: 30px;
  
  background: darken($primary-color, 10%);
}

.mult-well {
  margin-top: 30px;
  
  background: darken($primary-color, 20%);
  color: $well-text-color;
  
  border-radius: 15px;
  padding: 30px 50px;
  
  h1, h2 {
    font-size: 3em;
    margin: 12px 0px;
  }

  .user-input {
    padding: 1.6em 0.6em;    
    border-radius: 10px;
    margin: 24px 0px;
    font-size: 1.6em;
    font-style: italic;
  }
  
  .btn {
    font-size: 2em;
    margin: 12px 0px;
    border: 1px $primary-color;
    background: darken($primary-color, 40%);
  }
}